*{
    margin: 0,auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#container{
max-width: 85%;
position: relative;
}



#outerBackground{
/* outerBackgroundBox */

position: absolute;
width: 508.63px;
height: 691.44px;

background: #173F5F;
border-radius: 30px;
left: 40%;
}

#innerBackground{
    /* innerBackgroundBox */

position: absolute;
top:5%;
left: 8%;
width: 427.79px;
height: 619.31px;

background: #EEEEEE;
border-radius: 22px;
}

#displayBox{
    /* outerDisplayBox*/
    top:2%;
    left:7%;
    position: absolute;
    width: 372px;
    height:101px;
    background-color: #ffff;
    border-radius: 10px 10px 0px 0px;
}
#innerDisplayBox{
    left: 7%;
    top: 18%;
    position: absolute;
    width: 372px;
    height: 57.21px;
    background-color: #7DAECA;
    border-radius: 0px 0px 10px 10px;
}
#buttonGrid{
    height:353.26px;
    width: 372px;
    left: 5%;
    gap: 32px 34px;
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-auto-flow: row dense;
}
button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #7DAECA;
    border: 0;
    border-radius: 0;
    background-color: #173F5F;
    height: 62px;
    width: 62px;
    text-align: center;
    padding: 0%;
}
.large{
width: 170.5px ;
grid-column: auto/span 2;
}

#add{
background: #F6D55C;
color: #7E8439;
}
#subtract{
background: #ED553B;
color: #A52B10;
}
#multiply{
    background: #20639B;
    color: #7DAECA;
}
#divide{
    background: #3CAEA3;
    color: #43693C;
}
#enter{
background: #24679D;
color: #7DAECA;
}

#outBox{
    text-align: right;
    
}
#inBox{
    overflow: hidden;
    padding-top: 10px;
    padding-right: 20px;
    margin: 0 ;
    text-align: right;
    
}


#outBox{
overflow: hidden;
text-align: right;
padding-right: 10px;
padding-top: 10px;

}
#outBox h1::after{
font-size: 32px;
}
button:hover{
    cursor: pointer;
}

button:active{
    border: 3px solid greenyellow;
}

